//
   Created by HUI on 2017/5/20.
extends components/layout
block styles
    link(rel='stylesheet',href='style/style.css')
block content
    include  components/head
    include  components/side
    .content
        blockquote.layui-elem-quote
            p(style='font-size:24px') 1.导入
        blockquote.layui-elem-quote.layui-quote-nm
            form#createItem
                input(name='csv' type='file' accept="text/csv")
                button(type='button' onclick='import_csv()') 导入
        blockquote.layui-elem-quote.layui-quote-nm
            span 没有模版？
                a(href='/csv/download' style='color:red') 点击下载
            span(style='color:red') &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(模版的头部不可更改，否则无法导入)
        blockquote.layui-elem-quote
            p(style='font-size:24px') 2.备份
        blockquote.layui-elem-quote.layui-quote-nm
            span 备份题库？
                a(href='/api/export' style='color:red') 导出题库
            span(style='color:red') &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(如遇到excel直接打开乱码的情况，请先用文本编辑器转GBK码)
block scripts
    script.
        function import_csv() {
            var formData = new FormData($('#createItem')[0]);
            $.ajax({
                type: "POST",
                url: "/api/import",
                data: formData,
                processData: false, 	//必须false才会自动加上正确的Content-Type
                contentType: false,
                beforeSend: function () {
                    var layer = layui.layer
                    layer.load(0, {
                        shade: 0.3,
                        scrollbar: false
                    })
                },
                success: function (data) {
                   layer.alert('导入成功')

                    layer.closeAll('loading'); //关闭加载层
                },
                error: function (data) {
                    layer.alert(data.responseJSON.message)
                    layer.closeAll('loading'); //关闭加载层
                }
            })
        }

