//
   Created by HUI on 2017/5/20.
extends components/layout
block styles
    link(rel='stylesheet' href='style/style.css')
block content
    include  components/head
    include  components/side
    .content
        blockquote.layui-elem-quote.layui-quote-nm 修改密码
        input.layui-hide#error(value= message)
        form.layui-form.layui-form-pane(method='post')
            .layui-form-item
                label.layui-form-label 旧密码
                .layui-input-inline
                    input.layui-input(name='oldPwd')
            .layui-form-item
                label.layui-form-label 新密码
                .layui-input-inline
                    input.layui-input(name='newPwd')
            .layui-form-item
                .layui-input-block
                    button.layui-btn 提交

block scripts
    script.
        $(document).ready(function () {
           if($('#error').val()){
               layer.alert($('#error').val())
           }
        })