//
   Created by HUI on 12/12/2016.

extends ../components/layout

block styles
    link(rel='stylesheet', href='http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css')
block content
    nav.navbar.navbar-default(role="navigation" style="margin: 0;background-color: #323334")
        .container-fluid
            .navbar-header
                a.navbar-brand(href="/back/dashboard" style="color:#fdfeff") 超级管理员管理系统
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="/back/logout" style="color:#fff") 退出
    h1(style="text-align:center") 审核题目难度
    form.layui-form.layui-form-pane(action='/back/update_qLevel/'+'#{qInfo._id}' method='post' style="width:30%;margin:0 auto")
        if(qInfo)
            .layui-form-item(pane)
                label.layui-form-label 题目
                .layui-input-block
                    textarea.layui-textarea(type="text" name='question' readonly) #{qInfo.question}
            .layui-form-item(pane)
                label.layui-form-label 答案
                .layui-input-block
                    textarea.layui-textarea(type="text" name='answer' readonly) #{qInfo.answer}
            .layui-form-item(pane)
                label.layui-form-label 难度
                .layui-input-block
                    if(qInfo)
                        if(qInfo.level === '易')
                            input(type="radio" name="level" title="容易" value="易"  checked="")
                            input(type="radio" name="level" title="普通" value="中" )
                            input(type="radio" name="level" title="有难度" value="难")
                        else if(qInfo.level === '中')
                            input(type="radio" name="level" title="容易" value="易"  )
                            input(type="radio" name="level" title="普通" value="中" checked="")
                            input(type="radio" name="level" title="有难度" value="难")
                        else if(qInfo.level === '难')
                            input(type="radio" name="level" title="容易" value="易"  )
                            input(type="radio" name="level" title="普通" value="中" )
                            input(type="radio" name="level" title="有难度" value="难" checked="")
            button.layui-btn 提交
