extends layout

block content
    ul.layui-nav
        li.layui-nav-item.layui-this
            a(href='') 录入
        li.layui-nav-item
            a(href='') 管理
        li.layui-nav-item
            a(href='') 出题
block scripts
    script(src='layui/layui.js')
    script(src='layui/lay/dest/layui.all.js')

