//
   Created by HUI on 2016/11/3.

extends components/layout

block styles
    link(rel='stylesheet',href='style/style.css')
block content
    include  ./components/head
    include  ./components/side
    .content
        blockquote.layui-elem-quote.layui-quote-nm 云题库-智能组卷
        form.layui-form.layui-form-pane(action='' method='post')
            .layui-form-item
                label.layui-form-label 科目
                .layui-input-inline
                    input.layui-input( id="subject" value= subject_default readonly)
            .layui-form-item
                label.layui-form-label 知识点
                .layui-input-block
                    for tip_item in allTips
                        input(type="checkbox" name="tips" title="#{tip_item}")
            .layui-form-item
                label.layui-form-label 选择题
                .layui-input-inline
                    input.layui-input(type="number" name="type_items" id='选择题' lay-verify="number" autocomplete="off")
            .layui-form-item
                label.layui-form-label 填空题
                .layui-input-inline
                    input.layui-input(type="number" name="type_items" id='填空题' lay-verify="number" autocomplete="off")
            .layui-form-item
                label.layui-form-label 判断题
                .layui-input-inline
                    input.layui-input(type="number" name="type_items" id='判断题' lay-verify="number" autocomplete="off")
            .layui-form-item
                label.layui-form-label 简答题
                .layui-input-inline
                    input.layui-input(type="number" name="type_items" id='简答题' lay-verify="number" autocomplete="off")
            .layui-form-item
                label.layui-form-label 解答题
                .layui-input-inline
                    input.layui-input(type="number" name="type_items" id='解答题' lay-verify="number" autocomplete="off")
            .layui-form-item
                label.layui-form-label 难度
                .layui-input-inline
                    input.layui-input(type="number" name="level" id='level')
            hr
            .layui-form-item
                label.layui-form-label 分享
                .layui-input-block
                    input(type="checkbox" name="public" lay-skin="switch" title="分享")
            hr
            button.layui-btn.layui-btn-radius.layui-btn-normal(style="display:block;margin:0 auto" type='button' onclick='createPaper()')  开始组卷

block scripts
    script.
        function createPaper(){
            var paperRule={};
            var type_items_obj={}
            paperRule.tips=[];
            paperRule.type_items=type_items_obj;
            paperRule.level= $('#level').val();
            var obj = document.getElementsByName('tips');
            var obj1 =document.getElementsByName('type_items');
            for (var i = 0; i < obj.length; i++) {
                if (obj[i].checked){
                    paperRule.tips.push(obj[i].title)
                }
            }
            for (var j = 0; j < obj1.length; j++) {
                if (obj1[j].value>=1) {
                    type_items_obj[obj1[j].id]=parseInt(obj1[j].value)
                }

            }
           console.log(paperRule)
           $.ajax({
                url: '/api/make_paper',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(paperRule),
                beforeSend: function (a) {
                    console.log('start')
                },
                success: function (paper) {
                        layer.alert('试卷生成成功')
                },
                error: function () {
                        layer.alert('试卷生成失败')
                }
            })
        }


