//
   Created by HUI on 2016/11/10.
extends components/layout

block styles
    link(rel='stylesheet',href='style/style.css')
block content
    include  ./components/head
    include  ./components/side
    .content
        blockquote.layui-elem-quote.layui-quote-nm 云题库-试题库
        fieldset.ayui-elem-field.layui-field-title
            legend 试卷库
        form.layui-form.layui-form-pane
            .layui-form-item
                label.layui-form-label 科目
                .layui-input-inline
                    input.layui-input(id='subject' value= subject_default readonly='readonly')
            .layui-field-box
            each item in list
                blockquote.layui-elem-quote.layui-quote-nm #{item.date}
                    a.qt-delete(href='/api/paper/'+'#{item._id}'+'/delete') 删除
                    a.qt-detail(href='/api/download/'+'#{item.date}') 下载
