//
   Created by HUI on 2016/11/10.
extends components/layout

block styles
    link(rel='stylesheet',href='style/style.css')
block content
    include  ./components/head
    include  ./components/side
    .content
        blockquote.layui-elem-quote.layui-quote-nm 云题库-试题库
        fieldset.ayui-elem-field.layui-field-title
            legend 试卷库
            .layui-field-box
            each item in list
                blockquote.layui-elem-quote.layui-quote-nm #{item.date}
                    a.qt-delete(name="#{item._id}" onclick="delete_question(this)") 删除
                    a.qt-detail(id="#{item._id}" href='/api/download/'+'#{item.date}') 下载
