//
   Created by HUI on 2016/11/10.
extends components/layout

block styles
    link(rel='stylesheet',href='style/style.css')
block content
    include  ./components/head
    include  ./components/side
    .content
        blockquote.layui-elem-quote.layui-quote-nm 云题库-试题库
        fieldset.ayui-elem-field.layui-field-title
            legend 试卷库
            .layui-field-box
                blockquote.layui-elem-quote.layui-quote-nm exampaper1
                    a.qt-detail 查看详情
                blockquote.layui-elem-quote.layui-quote-nm exampaper2
                    a.qt-detail 查看详情
                blockquote.layui-elem-quote.layui-quote-nm exampaper3
                    a.qt-detail 查看详情
                blockquote.layui-elem-quote.layui-quote-nm exampaper4
                    a.qt-detail 查看详情
                blockquote.layui-elem-quote.layui-quote-nm exampaper5
                    a.qt-detail 查看详情
                blockquote.layui-elem-quote.layui-quote-nm exampaper6
                    a.qt-detail 查看详情
